/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Prata, "Helvetica Neue", sans-serif; }

.align-content {
  text-align: center;
}

.ajust-content-global {
  padding: 2em;
}

.section-title {
  font-size: 32px !important;
}
